<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learn.platform.service.dao.UserDao">

    <insert id="insert" keyColumn="id" useGeneratedKeys="true" keyProperty="id">
        insert into p_user (id, platform_id, user_name, attr, mobile, personal_signature, nick_name, sex, gmt_create,
                            gmt_update)
        values (#{id}, #{platformId}, #{userName}, #{attr}, #{mobile}, #{personalSignature}, #{nickName}, #{sex},
                #{gmtCreate}, #{gmtUpdate})
    </insert>

    <insert id="batchInsert">
        insert into p_user (id, platform_id, user_name, attr, mobile, personal_signature, nick_name, sex, gmt_create,
        gmt_update)
        values
        <foreach collection="list" item="item" separator=",">
            (#{id}, #{platformId}, #{userName}, #{attr}, #{mobile}, #{personalSignature}, #{nickName}, #{sex},
            #{gmtCreate}, #{gmtUpdate})
        </foreach>
    </insert>

    <update id="update">
        update p_user
        set user_name = #{userName}, attr = #{attr}, mobile = #{mobile}, personal_signature = #{personalSignature},
            platform_id = #{platformId}, nick_name = #{nickName}, sex = #{sex}, gmt_update = #{gmtUpdate}
        where id = #{id}
    </update>

    <select id="selectOne" resultType="com.learn.platform.entity.po.User">
        select *
        from p_user
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="userName != null and userName != ''">
                and user_name = #{userName}
            </if>
            <if test="nickName != null and nickName != ''">
                and nick_name = #{nickName}
            </if>
            <if test="platformId != null and platformId != ''">
                and platform_id = #{platformId}
            </if>
            <if test="mobile != null and mobile != ''">
                and mobile = #{mobile}
            </if>
        </where>
    </select>

    <select id="selectById" resultType="com.learn.platform.entity.po.User">
        select *
        from p_user
        where id = #{id}
    </select>

    <select id="selectByPlatformId" resultType="com.learn.platform.entity.po.User">
        select *
        from p_user
        where platform_id = #{platformId}
    </select>
</mapper>